:root {
  --primaryColor: #2a2a72;
  --secondaryColor: #009ffd;
  --tertiaryColor: #c48104;
  --mainWhite: #f3f3f3;
  --mainDark: #232323;
  --mainFont: 'Oswald', sans-serif;
  --titleFont: 'Anton', sans-serif;
}

/* globals */

body {
  font-family: var(--mainFont) !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

:focus {
  outline: 0;
}

.text-title {
  font-family: var(--titleFont);
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-main {
  color: var(--primaryColor);
}

.text-bright {
  color: var(--secondaryColor)
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}

.pointer {
  cursor: pointer;
}

.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.trash-icon {
  cursor: pointer;
  font-size: 1.3rem;
  color: var(--tertiaryColor);
  padding: 0.5rem;
}

.trash-icon:hover {
  cursor: pointer;
  font-size: 1.3rem;
  color: rgb(218, 11, 11);
}


/* one day remove from here */
.navbar-brand {
  max-width: 3rem;
}